MONGODB_URI=mongodb+srv://pcsm_db_user:jfMimUiApr8QvLxt@cluster0.mxknp5z.mongodb.net/
NEON_DB_URL=postgresql://neondb_owner:npg_ldto3AFgk9CG@ep-divine-hall-b5czzweq-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
